html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #515151; }

.navBar {
  padding-right: 0.8em;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #333333;
  display: block;
  height: 54px;
  text-align: center;
  border-top: solid 4px #F04124; }
  .navBar .linkWraps {
    height: 40px;
    margin: 0 auto; }
  .navBar .navLinks {
    color: #FFFFFF;
    padding: 15px 15px 11px 15px;
    margin: 0 0 0 0;
    background-color: transparent;
    display: inline-block;
    width: auto;
    height: 100%;
    font-weight: lighter;
    font-size: 1em;
    transition: background-color 0.5s ease;
    text-shadow: 1px 1px 3px #000101; }
  .navBar .navLinks:hover {
    background-color: #000101; }
  .navBar .navList {
    display: inline-block;
    margin: 0 auto; }
  .navBar .logo {
    display: inline-block;
    width: 10%;
    background-color: #515151;
    padding: 40px 0 29px 0;
    border: solid 3px #F04124;
    margin-top: -74px;
    border-radius: 50%;
    color: white;
    font-size: 2.0em;
    text-shadow: 1px 1px 9px #000101; }

.dropDown {
  position: relative; }
  .dropDown .logoutBox {
    position: absolute;
    color: #FFFFFF;
    left: 0em;
    bottom: -113px;
    font-weight: lighter;
    background-color: #333333;
    padding: 15px 22.5px 11px 22.5px;
    font-size: 1em;
    display: none;
    border-bottom-right-radius: 4px; }
  .dropDown .logoutBox:hover {
    background-color: #000101; }
  .dropDown .userBox {
    position: absolute;
    color: #FFFFFF;
    left: 0em;
    bottom: -64px;
    font-weight: lighter;
    background-color: #333333;
    padding: 14px 11.5px 12px 10.5px;
    font-size: 1em;
    display: none;
    border-bottom-right-radius: 4px; }
  .dropDown .userBox:hover {
    background-color: #000101; }

.front {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 8px;
  overflow: hidden; }
  .front section {
    padding-left: 10.1em; }
  .front h3 {
    color: #FFFFFF;
    background-color: #9C9D9D;
    width: 100%;
    padding: 0.6em 0 0.6em 1em;
    margin: 0;
    display: block;
    clear: both;
    box-shadow: 1px 1px 1px #333333;
    cursor: pointer; }
  .front .loginWrap {
    height: 225px; }
  .front form {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    clear: both; }
  .front .regForm {
    display: none; }
  .front .inputWrap {
    display: block; }
  .front .connectInput {
    display: inline-block; }
  .front p {
    text-align: right;
    line-height: 2em; }
  .front input {
    width: 65%;
    background-color: #DBDCDE;
    border-radius: 4px; }
  .front .pwError {
    height: 50px;
    text-align: right;
    padding-right: 10px; }
  .front button {
    border-radius: 4px;
    outline: none; }

.scoreboardMain {
  margin: 5em 5em 5em 5em;
  border: solid 2px #F04124;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 8px;
  overflow: scroll;
  height: 220px; }
  .scoreboardMain table {
    width: 100%; }
  .scoreboardMain thead {
    height: 50px;
    color: #515151;
    font-size: 2em;
    width: 100%; }

footer {
  background-color: #333333;
  height: 54px;
  border-bottom: solid 4px #F04124; }
  footer .left {
    padding-left: 5%; }
    footer .left h3 {
      color: #FFFFFF;
      text-align: center;
      font-size: 1em;
      font-weight: lighter;
      padding-top: 15px; }
  footer .right {
    padding-top: 15px;
    padding-right: 5%; }
    footer .right .line {
      color: #FFFFFF;
      padding-right: 9px;
      padding-left: 9px;
      font-weight: lighter; }
    footer .right .socMedia {
      color: #FFFFFF;
      font-size: 1em;
      font-weight: lighter; }
    footer .right .socMedia:hover {
      background-color: #000101;
      height: 40px; }

.aboutWrap {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 5em; }
  .aboutWrap h3 {
    background-color: #9C9D9D;
    width: 100%;
    padding: 0.6em 0 0.6em 1em;
    margin: 0;
    display: block;
    clear: both;
    box-shadow: 1px 1px 1px #333333;
    color: #FFFFFF; }
  .aboutWrap p {
    padding: 0.6em 1em 0.6em 1em; }

.dashWrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .dashWrapper::after {
    clear: both;
    content: "";
    display: table; }
  .dashWrapper .mainPics {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.99867%;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000101;
    border: solid 2px #F04124;
    margin-top: 5em;
    border-radius: 8px;
    height: 60em;
    clear: both;
    float: left;
    overflow: hidden; }
    .dashWrapper .mainPics:last-child {
      margin-right: 0; }
    .dashWrapper .mainPics h3 {
      color: #FFFFFF;
      background-color: #9C9D9D;
      width: 100%;
      padding: 0.6em 0 0.6em 1em;
      margin: 0;
      display: block;
      clear: both;
      box-shadow: 1px 1px 1px #333333; }
  .dashWrapper .scoreDash {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-shadow: 1px 1px 3px #515151;
    border: solid 2px #F04124;
    margin-top: 5em;
    border-radius: 8px;
    overflow: hidden;
    height: 45em;
    float: right; }
    .dashWrapper .scoreDash:last-child {
      margin-right: 0; }
  .dashWrapper th {
    box-shadow: 1px -5px 2px 0px #333333;
    padding: 0.65em 5em 0.65em 1em; }

.allDashImgWrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  text-overflow: scroll;
  height: 100%; }
  .allDashImgWrap::after {
    clear: both;
    content: "";
    display: table; }
  .allDashImgWrap .dashImgWrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: 1em 0.35em 1em 0.4em;
    position: relative; }
    .allDashImgWrap .dashImgWrap:last-child {
      margin-right: 0; }
    .allDashImgWrap .dashImgWrap:nth-child(3n) {
      margin-right: 0; }
    .allDashImgWrap .dashImgWrap:nth-child(3n+1) {
      clear: left; }
  .allDashImgWrap .usernameOverlay {
    position: absolute;
    color: white;
    left: 0.21em;
    top: 0.21em;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.9s ease; }
    .allDashImgWrap .usernameOverlay i {
      color: #515151;
      opacity: 0.6; }
  .allDashImgWrap .dashImg {
    border-radius: 4px; }
  .allDashImgWrap .dashImgWrap:hover .usernameOverlay {
    height: 35px; }

.imgWrap {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  margin-bottom: 2em;
  border-radius: 8px;
  overflow: hidden;
  background-color: #333333;
  text-align: center; }

.randomImage {
  width: 350px;
  height: 300px;
  border-radius: 4px;
  border: solid 2px #F04124; }

.guessContainer {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 8px;
  overflow: hidden;
  background-color: #333333; }
  .guessContainer h3 {
    color: #FFFFFF;
    background-color: #9C9D9D;
    width: 100%;
    padding: 0.6em 0 0.6em 1em;
    margin: 0;
    display: block;
    clear: both;
    box-shadow: 1px 1px 1px #333333;
    cursor: pointer; }
  .guessContainer .guessWrap {
    margin: 0; }
  .guessContainer section {
    padding: 0em;
    clear: both; }
  .guessContainer a {
    margin: 1em 0em 1em 7em;
    border-radius: 8px; }

.response {
  color: #FFFFFF;
  display: none;
  padding: 1em;
  font-size: 1.9em; }

.imgWrap {
  position: relative; }
  .imgWrap img {
    border-radius: 4px;
    margin-top: 1em;
    margin-bottom: 1em; }
  .imgWrap .userLabel {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: height 0.9s ease;
    opacity: 0.6;
    display: inline-block; }
  .imgWrap .userLabelInline {
    display: inline-block;
    position: absolute;
    top: 0.5em;
    left: 82px;
    height: 0;
    overflow: hidden;
    transition: height 0.9s ease; }
