html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #515151; }

.navBar {
  padding-right: 0.8em;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #333333;
  display: block;
  height: 54px;
  text-align: center;
  border-top: solid 4px #F04124; }
  .navBar .linkWraps {
    height: 40px;
    margin: 0 auto; }
  .navBar .navLinks {
    color: #FFFFFF;
    padding: 15px 15px 11px 15px;
    margin: 0 0 0 0;
    background-color: transparent;
    display: inline-block;
    width: auto;
    height: 100%;
    font-weight: lighter;
    font-size: 1em;
    transition: background-color 0.5s ease;
    text-shadow: 1px 1px 3px #000101; }
  .navBar .navLinks:hover {
    background-color: #000101; }
  .navBar .navList {
    display: inline-block;
    margin: 0 auto; }
  .navBar .logo {
    display: inline-block;
    width: 10%;
    background-color: #515151;
    padding: 40px 0 29px 0;
    border: solid 3px #F04124;
    margin-top: -74px;
    border-radius: 50%;
    color: white;
    font-size: 2.0em;
    text-shadow: 1px 1px 9px #000101; }

.front {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 8px;
  overflow: hidden; }
  .front section {
    padding-left: 10.1em; }
  .front h3 {
    color: #FFFFFF;
    background-color: #9C9D9D;
    width: 100%;
    padding: 0.6em 0 0.6em 1em;
    margin: 0;
    display: block;
    clear: both;
    box-shadow: 1px 1px 1px #333333;
    cursor: pointer; }
  .front .loginWrap {
    height: 225px; }
  .front form {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    clear: both; }
  .front .regForm {
    display: none; }
  .front .inputWrap {
    display: block; }
  .front .connectInput {
    display: inline-block; }
  .front p {
    text-align: right;
    line-height: 2em; }
  .front input {
    width: 65%;
    background-color: #DBDCDE;
    border-radius: 4px; }
  .front .pwError {
    height: 50px;
    text-align: right;
    padding-right: 10px; }
  .front button {
    border-radius: 4px;
    outline: none; }

.score-main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 60%; }
  .score-main th {
    height: 50px;
    color: #EE422E;
    font-size: 20px; }

footer {
  background-color: #333333;
  height: 54px;
  border-bottom: solid 4px #F04124; }
  footer .left {
    padding-left: 5%; }
    footer .left h3 {
      color: #FFFFFF;
      text-align: center;
      font-size: 1em;
      font-weight: lighter;
      padding-top: 15px; }
  footer .right {
    padding-top: 15px;
    padding-right: 5%; }
    footer .right .line {
      color: #FFFFFF;
      padding-right: 9px;
      padding-left: 9px;
      font-weight: lighter; }
    footer .right .socMedia {
      color: #FFFFFF;
      font-size: 1em;
      font-weight: lighter; }
    footer .right .socMedia:hover {
      background-color: #000101;
      height: 40px; }

.aboutWrap {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px #000101;
  border: solid 2px #F04124;
  margin-top: 5em;
  border-radius: 8px;
  overflow: hidden; }
  .aboutWrap h3 {
    background-color: #9C9D9D;
    width: 100%;
    padding: 0.6em 0 0.6em 1em;
    margin: 0;
    display: block;
    clear: both;
    box-shadow: 1px 1px 1px #333333;
    color: #FFFFFF; }
  .aboutWrap p {
    padding: 0.6em 1em 0.6em 1em; }

.dashWrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .dashWrapper::after {
    clear: both;
    content: "";
    display: table; }
  .dashWrapper .mainPics {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 70.99867%;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000101;
    border: solid 2px #F04124;
    margin-top: 5em;
    border-radius: 8px;
    overflow: hidden;
    height: 60em;
    clear: both;
    float: left; }
    .dashWrapper .mainPics:last-child {
      margin-right: 0; }
    .dashWrapper .mainPics h3 {
      color: #FFFFFF;
      background-color: #9C9D9D;
      width: 100%;
      padding: 0.6em 0 0.6em 1em;
      margin: 0;
      display: block;
      clear: both;
      box-shadow: 1px 1px 1px #333333; }
  .dashWrapper .scoreDash {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-shadow: 1px 1px 3px #515151;
    border: solid 2px #F04124;
    margin-top: 5em;
    border-radius: 8px;
    overflow: hidden;
    height: 45em;
    float: right; }
    .dashWrapper .scoreDash:last-child {
      margin-right: 0; }
  .dashWrapper th {
    box-shadow: 1px -5px 2px 0px #333333;
    padding: 0.65em 5em 0.65em 1em; }
