<ul class="main-pics">
  {{#each ??}}
  <li><a href=""><img src="{{?img?}}"></a></li>
  {{/each}}
</ul>


<table class="score-dash">
  <thead>
    <tr>
      <th width="200">Player</th>
      <th width="150">Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each ??}}
    <tr>
      <td>{{ user }}</td>
      <td>{{ score }}</td>
    {{/each}}
  </tbody>
</table>
