



<div class="imgWrap">
  {{#rand guesses}}
  {{/rand}}
</div>


<main class = "guessContainer row">

  <h3>What's your guess?</h3>

  <div class="small-12 columns guessWrap">

    <section>
      <form>
        {{#each guesses}}
        <div class="guessBtnWrap"><a  data-id="{{ attributes._id }}" class="connectInput small-9 columns button alert" id="guess-btn">{{ attributes.image_name }}</a></div>
        {{/each}}
      </form>
    </section>

  </div>

</main>
