


<img src="{{image_url}}">
<main class = "front row">
  <h3>What's your guess?</h3>
 <div class="small-8 columns newUserWrap">

    <section>
      <form>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Answer1</p>
        <input type="radio" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Answer2</p>
        <input type="radio" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Answer3</p>
        <input type="radio" class="connectInput"></div>

      </form>

    </section>
  </div>
  </main>
