<section class="loginForm">
  <h3>Log In</h3>
  <form>
    <p>Username:</p>
    <input type="text" id="login-user">
    <p>Password:</p>
    <input type="text" id="login-pwd">
    <button>Login</button>
  </form>
</section>


<section class="newUser">
  <h3>New User</h3>
  <form>
    <p>Name:</p>
    <input type="text" id="new-name">
    <p>Email:</p>
    <input type="text" id="new-email">
    <p>Username:</p>
    <input type="text" id="new-username">
    <p>Password:</p>
    <input type="text" id="new-pwd">
    <input type="text" id="ver-pwd">

    <div class='pwError'></div>

    <button>Sign Me Up</button>

  </form>
</section>
