<section class="login-form">
  <h3>Log In</h3>
  <form>
    <p>Username:</p>
    <input type="text" id="loginUser">
    <p>Password:</p>
    <input type="text" id="loginPwd">
    <button>Login</button>
  </form>
</section>


<section class="new-user">
  <h3>New User</h3>
  <form>
    <p>Name:</p>
    <input type="text" id="newName">
    <p>Email:</p>
    <input type="text" id="newEmail">
    <p>Username:</p>
    <input type="text" id="newUsername">
    <p>Password:</p>
    <input type="text" id="newPwd">
    <button>Sign Me Up</button>
  </form>
</section>
