
<main class = "front row">

  <h3 class = "loginHead">Log In</h3>

  <div class="small-8 columns loginWrap">

    <section class ="loginFormContent">
      <form>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Username:</p>
        <input type="text" id="login-user" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Password:</p>
        <input type="password" id="login-pwd" class="connectInput"></div>

        <button class="alert">Login</button>
      </form>
    </section>
  </div>


  <h3 class = "regHead">New User</h3>

  <div class="small-8 columns newUserWrap">

    <section>
      <form class = "regForm hidden">
        <div class="inputWrap row"><p class="connectInput small-4 columns">Name:</p>
        <input type="text" id="new-name" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Email:</p>
        <input type="text" id="new-email" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Username:</p>
        <input type="text" id="new-username" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Password:</p>
        <input type="password" id="new-pwd" class="connectInput"></div>
        <div class="inputWrap row"><p class="connectInput small-4 columns">Confirm Password:</p>
        <input type="password" id="ver-pwd" class="connectInput"></div>

        <div class='pwError row'></div>

        <button class="alert">Sign&nbsp;Me&nbsp;Up</button>

      </form>

    </section>
  </div>
</main>
