<table class="score-main">
  <thead>
    <tr>
    <div class="row">
      <th class="small-5 columns" width="200">Player</th>
      <th class="small-5 columns" width="150">Score</th>
      </div>
    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>

      <td>{{ user }}</td>
      <td>{{ score }}</td>
    {{/each}}
  </tbody>
</table>
