<table class="score-main row">

  <thead>
    <tr>

      <th class="small-5 columns" width="200">Player</th>
      <th class="small-5 columns" width="150">Score</th>

    </tr>
  </thead>

  <tbody>
    {{#each guess}}
    <tr>

      <td>{{ username }}</td>
      <td>{{ guesses }}</td>
    {{/each}}
  </tbody>

</table>
