
<div class="scoreboardMain row">
  <table>
  <thead>
    <tr>
      <th class="">Player</th>
      <th class="">Score</th>
    </tr>
  </thead>

  <tbody>
    {{#each guess}}
    <tr>
      <td>{{ username }}</td>
      <td>{{ guesses }}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>
